.search-icon {
    width: 15px;
    height: 15px;
    display: inline-block;
}

input {
    background-color: aqua;
}

#location-search {
    border: 1px solid black ;
}

.current-weather {
    display: flex;
    justify-content: space-around;
}

.three-day-forecast {
    display: flex;
    max-width: 100%; /* Adjust the maximum width as needed */
    justify-content: space-evenly;
}

.mySlides {
   
}

.slideshow-container {
    display: flex;
}

.hide {
    display: none;
}

